/****** COMMON ******/
body {
    font-family: "Roboto Serif", sans-serif;
    font-size: 14px;
    color: #000;
  }

/* SIDE HEADER */
main{
    display: flex;
}

header{
    width: 6%;
    text-align: center;
    background-color: white;
}

.fixed-header{
    position: fixed;
    width: 6%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100vh;
}
.logo img{
    max-width: 60px;
    margin-top: 20px;
}

header nav{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

header nav li{
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
}

nav a img{
    transition: all 0.2s ease-in-out;
}

nav a img:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

nav ul li:nth-child(5){
    padding-top: 50px;
    border-top: 1px solid black;
}

/* MIDLE */

.profile-top{
    display: flex;
}


.profile-top img{
  border-radius: 50%;
  margin-right: 30px;
}

.description-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#artigo{
    width: 65%;
}

#artigo a{
    text-decoration: none;
}

#artigo h2{
    font-size: 30px;
    line-height: 36px;
}

#artigo h3{
    font-size: 16px;
    color: #191919;
}

#artigo article{
    padding: 50px 120px;
}

#artigo img{
    padding: 30px 0;
}

#artigo p{
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
}

/* 3 COLUN PROFILE */

#profile{
    width: 29%;
    background-color: white;
    border-left: 1px solid  rgba(0, 0, 0, 0.2);
}

#profile img{
    border-radius: 50%;
}

#profile .fixed-profile{
    position: fixed;
    padding: 40px;
}

button, form input{
    border-radius: 20px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

.get-started{
    color: white;
    background-color: #191919;
    padding: 12px 20%;
    margin-right: 40px;
}

.sign-in{
    background-color: transparent;
    color: darkgreen;
}
form{
    margin: 35px 0;
}
form input{
  padding: 12px;
  width: 100%;
 border: 1px solid rgba(0, 0, 0, 0.2);
}

#profile h3, .profile-top h3{
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
}

#profile h4, .profile-top h4{
    font-size: 14px;
    color: gray;
    padding: 6px 0;
}

#profile p{
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 17px;
}

.btn-follow{
    background-color: #1a8917;
    color: white;
    padding: 12px 24px;
}

.btn-email{
    background-color: #1a8917;
    color: white;
    padding: 12px 14px;
}

#profile ul{
    margin-top: 26px;
}

#profile ul li:first-child{
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}

#profile ul li:last-child{
    font-size: 14px;
    margin: 10px 0;
}

#profile ul li{
   font-size: 16px;
   padding: 5px 0;
}

.txt-legal{
    font-size: 11px!important;
}

/* FIXED BAR */
#fixed-bar{
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 0;
    width: 64.9%;
    background-color: white;
    height: 40px;
}

#fixed-bar li{
    color: gray;
    font-size: 20px;
}

#fixed-bar ul li{
    display: inline-block;
}

.reactions{
    float: left;
    padding: 10px 120px;
}

.r-sociais{
    float: right;
    padding: 10px 120px;
}
