/****** COMMON ******/
body {
    font-family: "Roboto Serif", sans-serif;
    font-size: 14px;
    color: #000;
  }

/* SIDE HEADER */
main{
    display: flex;
}

header{
    width: 6%;
    text-align: center;
    background-color: white;
}

.fixed-header{
    position: fixed;
    width: 6%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100vh;
}
.logo img{
    max-width: 60px;
    margin-top: 20px;
}

header nav{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

header nav li{
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
}

nav a img{
    transition: all 0.2s ease-in-out;
}

nav a img:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

nav ul li:nth-child(5){
    padding-top: 50px;
    border-top: 1px solid black;
}

/* MIDLE */

#artigo{
    width: 65%;
}

#artigo h2{
    font-size: 30px;
    line-height: 36px;
}

#artigo h3{
    font-size: 16px;
}

#artigo article{
    padding: 50px 120px;
}

#artigo img{
    padding: 30px 0;
}

#artigo p{
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
}

#profile{
    width: 29%;
    background-color: white;
    border-left: 1px solid  rgba(0, 0, 0, 0.2);
}


